@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	letter-spacing: -0.02em;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 64px;
}

body {
	overflow-x: hidden;
	width: 100%;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
}

a:focus-visible {
	outline: 2px solid white;
	outline-offset: 2px;
}

::selection {
	background-color: #c8e9fb88;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #C5C8C9;
	border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #676D6F;
}

img,
video {
	pointer-events: none;
	user-select: none;
}
